body {
    margin: 0;
    font-family: Arial, sans-serif;
}
h1{
    text-align: center; 
    
    padding: 20px;
    background-color: #a8a6a6;
    color: rgb(255, 255, 255);
}
ol {
    list-style-position: inside;
}

li {
    margin-bottom: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 15px;
}
h2 {
    color: #333;
}
img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    display: block;
    margin: 10px auto;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    background-color: #cf5d5d;
    color: white;
}
.nav-links a {
    color: white;
    text-decoration: none;
    margin-right: 15px;
}
.nav-links a:hover {
    color: #eebcbc; 
    text-decoration: none;;
}
.container {
    display: flex; 
    justify-content: space-between;
    padding: 20px;
}
.text {
    flex: 1; 
    padding-right: 20px; 
}
.image{
    width: 450px;
    height:auto;
    padding: 25px 25px;
}

h2 a {
    text-decoration: none;
    color: #333; 
}

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); 
    gap: 20px; 
    padding: 20px;
}

.gallery img {
    width: 100%; 
    height: auto; 
    border-radius: 8px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    transition: transform 0.3s ease; 
}

.gallery img:hover {
    transform: scale(1.05); 
}


.instagram-icon {
    width: 30px;
    height: 30px;
    background-color: #E1306C; 
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.instagram-icon img {
    width: 18px;
    height: 18px;
}
.contact-container {
    padding: 20px;
    text-align: center;
}
.contact-container h3 {
    font-size: 24px;
    margin-bottom: 20px;
}
.actor-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
}
.actor {
    text-align: center;
}
.actor a {
    text-decoration: none;
    font-size: 18px;
    color: #3f729b; 
    display: flex;
    align-items: center;
    gap: 10px;
}
.actor a:hover {
    text-decoration: underline;
}